</main>

<footer class="footer">
  <div class="width">
    <p>Built with <span class="heart">&hearts;</span> by <a href="https://matthewsuzuki.com">Matthew Suzuki</a></p>
  </div>
</footer>


</body>
</html>