<%- include('./partials/header.ejs') %>


    <h1>Welcome to Gift Me</h1>
    <h2>Start Building your Registry Now</h2>
    <!-- <p>Welcome to <%= title %></p> -->
    <div class="showcase">
   <img src="/Users/matthewsuzuki/code/Gift-me/imgs/giftme.png" alt="logo" width="500" height="400">
</div>
  
 

<%- include('./partials/footer.ejs') %>