* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #111;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  display: block;
  width: 100%;
}

a,
button,
label,
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.width {
  max-width: 1240px;
  margin: 0 auto;
  width: 92%;
}

.button {
  display: inline-block;
  padding: 0 24px;
  line-height: 54px;
  background: #1e7b92;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.button.red {
  background: #af2121;
}

.box {
  padding: 40px;
  background: white;
  border-radius: 24px;
}

.button.full-width {
  display: block;
  width: 100%;
}

.field + .field {
  margin-top: 20px;
}

.field label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
}

.field input[type="text"] {
  border: 1px solid #ddd;
  padding: 0 24px;
  border-radius: 12px;
  background: white;
  line-height: 52px;
}

.header {
  background: #1e7b92;
  padding: 24px 0;
}

.header .width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: white;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}


.nav {
  display: inline-flex;
  gap: 40px;
  align-items: center;
}

.nav a {
  color: white;
  font-weight: 500;
}

.nav .nav-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  line-height: 44px;
  padding: 0 24px;
  background: white;
  border-radius: 12px;
  color: #111;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav .nav-button img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.home-top {
  padding-top: 40px;
  padding-bottom: 20px;
  background: rgba(144, 197, 229, 1);
}

.home-top .width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-top-text {
  flex: 1;
}

.home-top-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
  /*font-family: "Open Sans", sans-serif;*/
}

.home-top-text h2 {
  font-size: 70px;
  margin-bottom: 40px;
}

.home-top-button {
  display: inline-block;
  padding: 0 24px;
  border-radius: 8px;
  line-height: 54px;
  color: white;
  background: #1e7b92;
  font-weight: 600;
  font-size: 18px;
}

.home-top-image {
  max-width: 700px;
  width: 50%;
}

.registries {
  padding: 80px 0 100px;
  background: white;
}

.registries h2 {
  text-align: center;
  font-size: 50px;
}

.registries-list {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
}

.registries-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #111;
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}

.registry-list-item h3 {
  font-size: 28px;
}
.registry-list-item p {
  color: #5e5e5e;
  font-size: 20px;
}

.footer {
  background: #111;
  text-align: center;
  color: white;
  padding: 36px 0;
  font-size: 20px;
  margin-top: auto;
}

.footer .heart {
  color: pink;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-align: center;
}

.registry-header {
  text-align: center;
  background: rgba(144, 197, 229, 1);
  padding: 100px 0;
}

.registry-header h1 {
  text-align: center;
  font-size: 70px;
}
.registry-header h2 {
  text-align: center;
  font-size: 44px;
  margin-top: 10px;
}

.registry-items {
  padding: 60px 0;
}

.registry-items h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.registry-item {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 32px 0;
}

.registry-item-text {
  flex: 1;
  margin-right: 40px;
}

.registry-item h3 {
  font-size: 28px;
}

.registry-item h4 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: normal;
  color: #5e5e5e;
  margin-top: 10px;
}

.registry-new {
  padding: 60px 0;
}

.registry-new .box {
  max-width: 500px;
  margin: 0 auto;
}

.registry-new h1 {
  margin-bottom: 32px;
}

.registry-add-item h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.registry-actions {
  padding-bottom: 60px;
}

.registry-actions .width {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .nav {
    gap: 20px;
  }
  .header-logo{
    line-height: 90%;
  }
}