<%- include('../partials/header') %>

<form id="new-form" action="/registries" method="POST">
  <label>Name Your Registry:</label>
  <input type="text" name="title">

  <label>Event:</label>
  <input type="text" name="eventType" >

  <input class="addBtn" type="submit" value="Add Registry">

</form>

<%- include('../partials/footer') %>

