<%- include('../partials/header') %>

<form id="new-form" action="/registries" method="POST">
  <label>Name:</label>
  <input type="text" name="title">
  <label>Event:</label>
  <input type="text" name="eventType" >
  <label>Date:</label>
  <input type="date" name="date">
  <input type="submit" value="Add Registry">
  <h1>Make it work</h1>
</form>

<%- include('../partials/footer') %>
